body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 62%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label,
.login-container input {
    margin-bottom: 10px;
}

.login-container input.btn{
    margin-bottom: 1rem;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 0.4rem;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1rem 0.5rem;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-box {
    background-color: #fff;
    width: 27.5%;
}

.response-box h2, 
.response-box h3,
.response-box h4,
.response-box h1 {
    color: red;
}

.response-box textarea {
    width: -webkit-fill-available;
    height: 86%;
}